body {
	font-size: 16px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	line-height: 28px;
	margin: 0;
}

ul {
	margin:0;
}

h1 {
	font-size: 48px;
	line-height: 1;
	font-weight: normal;
	color: #fff;
}

h2 {
	font-size: 35px;
	line-height: 1;
	font-weight: normal;
	text-align: center;
}

img {
	width:expression(document.body.clientWidth > 100? "100%":
 "auto");
	max-width: 100%;
}

.container {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

header {
	background-color: #266371;
	background-image: url('../img/header-bg.png');
	background-size: cover; 
}

.header-navigation {
	background-color: rgba(5, 28, 37, 0.3); 
}

.header-navigation .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.logo {
	line-height: 0;
	margin: 10px 0; 
}

.main-menu-list li {
	display: inline-block;
}

.main-menu-list a {
	position: relative;
	display: inline-block;
	padding: 35px 10px;
	color: #fff;
	opacity: 0.6;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	z-index: 2;
}

.search {
	position: relative;
	font-size: 0;
	width: 11px;
	height: 11px;
	opacity: 0.6;
	background: url('../img/search.png') no-repeat;
	top: 3px;
}

.main-menu-list a:hover {
	background: rgba(5, 28, 37, 1);
	opacity: 1;
}

.main-menu-list a:hover:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 6px;
	bottom: -6px;
	left: 0;
	background: url('../img/line-active.png') center;
}

.mobile-header {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out, background 1s ease-out;
  transition: all 0.5s ease-out, background 1s ease-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  z-index: 1;
}
.mobile-header .burger-container {
  position: absolute;
  display: inline-block;
  height: 55px;
  width: 50px;
  right: 0;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 2;
}
.mobile-header .burger-container #burger {
  width: 22px;
  height: 8px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
}
.mobile-header .burger-container #burger .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #FFF;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.mobile-header .burger-container #burger .bar.topBar {
  -webkit-transform: translateY(0px) rotate(0deg);
          transform: translateY(0px) rotate(0deg);
}
.mobile-header .burger-container #burger .bar.mdlBar {
  -webkit-transform: translateY(4px) rotate(0deg);
          transform: translateY(4px) rotate(0deg);
}
.mobile-header .burger-container #burger .bar.btmBar {
  -webkit-transform: translateY(8px) rotate(0deg);
          transform: translateY(8px) rotate(0deg);
}
.mobile-header .icon {
  display: inline-block;
  position: absolute;
  height: 100%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #FFF;
  font-size: 22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mobile-header ul.menu {
  position: relative;
  display: block;
  padding: 0px 48px 0;
  list-style: none;
}
.mobile-header ul.menu li.menu-item {
  border-bottom: 1px solid #333;
  margin-top: 5px;
  -webkit-transform: scale(1.15) translateY(-30px);
          transform: scale(1.15) translateY(-30px);
  opacity: 0;
  -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.mobile-header ul.menu li.menu-item:nth-child(1) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}
.mobile-header ul.menu li.menu-item:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.mobile-header ul.menu li.menu-item:nth-child(3) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.mobile-header ul.menu li.menu-item:nth-child(4) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.mobile-header ul.menu li.menu-item:nth-child(5) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}
.mobile-header ul.menu li.menu-item:nth-child(6) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.mobile-header ul.menu li.menu-item a {
  position: relative;
  color: #FFF;
  font-family: "Ek Mukta", sans-serif;
  font-weight: 100;
  text-decoration: none;
  font-size: 22px;
  line-height: 2.35;
  font-weight: 200;
  width: 100%;
}
.mobile-header.menu-opened {
  height: auto;
  background-color: #000;
  -webkit-transition: all 0.1s ease-in, background 0.3s ease-in;
  transition: all 0.3s ease-in, background 0.3s ease-in;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.mobile-header.menu-opened .burger-container {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.mobile-header.menu-opened .burger-container #burger .bar {
  -webkit-transition: all 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.mobile-header.menu-opened .burger-container #burger .bar.topBar {
  -webkit-transform: translateY(4px) rotate(45deg);
          transform: translateY(4px) rotate(45deg);
}
.mobile-header.menu-opened .burger-container #burger .bar.mdlBar {
  display: none;
}
.mobile-header.menu-opened .burger-container #burger .bar.btmBar {
  -webkit-transform: translateY(3px) rotate(-45deg);
          transform: translateY(3px) rotate(-45deg);
}
.mobile-header.menu-opened ul.menu li.menu-item {
  -webkit-transform: scale(1) translateY(0px);
          transform: scale(1) translateY(0px);
  opacity: 1;
}
.mobile-header.menu-opened ul.menu li.menu-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.mobile-header.menu-opened ul.menu li.menu-item:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.mobile-header.menu-opened ul.menu li.menu-item:nth-child(3) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.mobile-header.menu-opened ul.menu li.menu-item:nth-child(4) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.mobile-header.menu-opened ul.menu li.menu-item:nth-child(5) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.mobile-header.menu-opened ul.menu li.menu-item:nth-child(6) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.mobile-header.menu-opened ul.menu li.menu-item:nth-child(7) {
  -webkit-transition-delay: 0.59s;
          transition-delay: 0.59s;
}
.mobile-header.menu-opened .icon.icon-bag {
  -webkit-transform: translateX(75px);
          transform: translateX(75px);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.main-info {
	text-align: center;
	padding-bottom: 40px;
}

.main-info p {
	color: #fff;
	max-width: 780px;
	margin: 0 auto;
}

main h2 {
	position: relative;
	margin-bottom: 50px;
}

main h2:after {
	content: '';
	position: absolute;
	width: 104px;
	height: 3px;
	bottom: -10px;
	right: 0;
	left: 0;
	margin: 0 auto;
	background-image: url('../img/line.png');
}

.news {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.news-item {
	width: 290px;
	text-align: center;
	margin: 0 10px;
	margin-bottom: 40px;
}

.news-photo {
	display: inline-block;
	height: 225px;
	overflow: hidden;
	box-shadow: 2px 2px 9px #ccc;
	transition: 0.6s;
	
}
.news-photo:hover {
	box-shadow: 0 0 4px #ccc;
}
.news img {
	width: 100%;
	transition: 0.7s;
}
.news img:hover {
	opacity: 0.7;
	transform: scale(1.1);
}

.article-header,
.news-description {
	display: block;
	font-size: 21px;
	color: #5d5d5d;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
	line-height: 29px;
}

.article-header:hover {
	color: #000;
}

.category {
	font-size: 13px;
	color: #adadad;
}

.category-under {
	width: 70%;
	border: none;
	border-top: 1px solid #e4e4e4;
}

.news-description {
	margin: 15px 0;
	font-size: 14px;
	color: #555555;
	line-height: 20px;
}

.news-description:hover {
	color: #000;
}

.news-item-footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	font-size: 13px;
	color: #adadad;
}

.date,
.comments {
	position: relative;
}

.date:before {
	content: '';
	position: absolute;
	left: -15px;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
	height: 10px;
	background: url('../img/clock-icon.png');
}

.comments:before {
	content: '';
	position: absolute;
	left: -15px;
	top: 50%;
	transform: translateY(-50%);
	width: 11px;
	height: 9px;
	background: url('../img/comment-icon.png');
}

.main-footer {
	background-image: url('../img/footer-bg.png');
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	padding-top: 30px;
}

.disclaimer {
	color: #fff;
	opacity: 0.3;
	max-width: 680px;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
}

.social-links {
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 5px;
	font-size: 0;
	line-height: 0;
	padding: 10px;
	margin-bottom: 20px;
}

.social-links-item {
	display: inline-block;
	vertical-align: top;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 10px;
}
.social-links-item:hover {
	opacity: 0.7;
}
.social-links-item:last-of-type {
	margin-right: 0;
}

.social-link-vkontakte {
	background-image: url('../img/vkontakte-icon.png');
}

.social-link-twitter {
	background-image: url('../img/twitter-icon.png');
}

.social-link-facebook {
	background-image: url('../img/facebook-icon.png');
}

.copyright-block {
	text-align: center;
	font-size: 14px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 10px 0;
}

@media all and (max-width: 640px){
	.main-menu {
		display: none;
	}

	h1 {
		font-size: 25px;
	}
	
	.logo img {
		width: 80px;
		height: auto;
	}

	.mobile-header {
		display: block;
	}
}

@media (max-width: 600px) {
  {
    width: 100%;
    height: 100vh;
    margin: 0;
    border-radius: 0px;
  }
}
